@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    
}

.backgroundImg{
    display: flex;
}

#content{
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 400;
    font-style: normal;
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}



h1{
    color: #ccab5b;
    position: relative;
    top: 34%;
    font-size: 40px;

}
h1 b{
    color: white;
}

.card{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);

    box-shadow: 5px 5px 10px #00000012;
}

#foodImg{
    padding: 0%;
    position: relative;
    
    width: 400px;
    height: 200px;

}

h2 {
color: white;

}

#order{
    background-color: #ccab5b;
    font-size: 20px;
    color: white;
    border: none;
    padding: 20px;
}
#price{
    background-color: #ccab5b;
    font-size: 20px;
    margin: 3%;
    color: white;
    border: none;
    padding: 20px;
}
#order:hover{
    background-color: #dfb451;
}